<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Flappy Bird Demo | carrot </title>
  <link rel="shortcut icon" href="img/favicon.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201904261505">
  <link type="text/css" rel="stylesheet" href="styles/jsdoc.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/ionicons/2.0.1/css/ionicons.min.css">
  <style>
    /* override bulma default paddings */
    .game-slider {
      max-width: 450px;
      margin-top: 1rem;
    }
    input[type=range].slider {
      margin: 0;
    }
    input[type=range].slider:not([orient="vertical"]).has-output+output {
      top: .2rem;
    }
    .label:not(:last-child) {
      margin: 0;
    }
    .banner-text {
      font-family: 'Montserrat'
    }
  </style>
</head>
<body>
  <div class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#" style="padding:0">
        <img src="img/carrot-logo.png" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://liquidcarrot.io/">Home</a>
        <a class="navbar-item" href="https://liquidcarrot.io/carrot">Docs</a>
        <a class="navbar-item" href="https://github.com/liquidcarrot/example.flappy-bird/" target="_blank"><i class="ion-social-github" aria-hidden="true"></i></a>
        <div class="navbar-item has-dropdown is-hoverable">
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="mailto:people@liquidcarrot.io?subject=Flappy%20Bird%20Demo">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://github.com/liquidcarrot/example.flappy-bird/issues/new">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <input type="text" id="nav-search" placeholder="Search" autofocus>
        </div>
      </div>
    </div>
  </div>
  <section class="hero is-dark is-bold" style="min-height:100vh">
    <div class="hero-body">
      <h1 class="title">
        flappy bird playground
      </h1>
        <div class="columns">
          <div class="column">
            <canvas id="canvas" width="450" height="512"> </canvas>
            <div class="field game-slider">
              <label class="label has-text-white">Speed</label>
              <input id="speedSlider" class="slider has-output is-small" step="1" min="0" max="10" value="1" type="range">
              <output id="speed" for="speedSlider">1</output>
            </div>
          </div>
          <div id="app" class="column">
            <span class="banner-text has-text-white">
              You're watching a series of neural networks learn how to play flappy-bird right on your computer. They've had zero configuration. In fact, they're designing themselves right now!
            </span>
            <div class="field game-slider">
              <label class="label has-text-white">Pipe spacing</label>
              <input id="sliderWithValue" v-model="pipe_spacing" class="slider has-output is-small" step="1" min="45" max="90" :value="pipe_spacing" type="range">
              <output for="sliderWithValue">{{ pipe_spacing }}</output>
            </div>
            <div class="field game-slider">
              <label class="label has-text-white">Elitism</label>
              <input v-model="elitism" id="sliderWithValue1" class="slider has-output is-small" min="0" :max="population_size" value="50" step="1" type="range">
              <output for="sliderWithValue1">{{ elitism }}</output>
            </div>
            <div class="field game-slider">
              <label class="label has-text-white">Population size</label>
              <input v-model="population_size" id="sliderWithValue2" class="slider has-output is-small" :min="elitism" max="100" step="1" type="range">
              <output for="sliderWithValue2">{{ population_size }}</output>
            </div>
            <!-- <div class="field">
              <label class="label has-text-white">Chance of mutation</label>
              <input v-model="mutation_rate" id="sliderWithValue2" class="slider has-output is-success" min="0" max="1" step=".1" type="range">
              <output for="sliderWithValue2">(coming soon)</output>
            </div>
            <div class="field">
              <label class="label has-text-white">Times mutated</label>
              <input v-model="mutation_amount" id="sliderWithValue2" class="slider has-output is-success" min="1" max="10" step="1" type="range">
              <output for="sliderWithValue2">(coming soon)</output>
            </div> -->
            <div class="field">
              <label class="label has-text-white">Save</label>
              <a class="button is-warning">Export best</a>
              <output for="sliderWithValue">(coming soon)</output>
            </div>
            <!-- <div class="dropdown">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>Data available</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">Pipe tops (nearest pipe)</a>
                  <a class="dropdown-item">Pipe tops, edges (nearest pipe)</a>
                  <a class="dropdown-item">Pipe tops (all pipes)</a>
                  <a class="dropdown-item">Pipe tops, edges (all pipes)</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/@liquid-carrot/carrot/dist/carrot.umd2.min.js"></script>
  <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/bird.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/main.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/Pipe.js"></script>
  <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script type="text/javascript" type="text/javascript" src="scripts/bindings.js"></script>
</body>
</html>
